
/* ====HEADER SECTION==== */   

.header {
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    z-index: 1000;
    position: fixed;
    top: 0;left: 0;right: 0;
    box-shadow: var(--box-shadow);
}

.header .logo  {
    font-size: 2.5rem;
    color: var(--black);
    font-weight: 600;
}

.header .logo i {
    font-size: 2.5rem;
    color: var(--orange);
}

.header .navbar a {
    font-size: 1.7rem;
    color: var(--black);
    margin: 0 1rem;
}

.header .navbar a:hover {
    color: var(--orange);
}

.header .icons i {
    height: 4.5rem;
    width: 4.5rem;
    background-color: #eee;
    line-height: 4.5rem;
    text-align: center;
    font-size: 2rem;
    border-radius: .5rem;
    margin-left: .3rem;
    cursor: pointer;
}

.header .icons i:hover {
    background-color: var(--orange);
    color: #fff;
}

/* ====SEARCH FORM==== */
.header .search-form {
    position: absolute;
    top: 110%;right: -110%;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.header .search-form.active {
    right: 2rem;
    transition: .4s linear;
}

.header .search-form input {
    height: 100%;
    width: 100%;
    padding: 0 1.5rem;
    font-size: 1.6rem;
    background: none;
    text-transform: none;
    color: var(--black);
}

.header .search-form label {
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);cursor: pointer;
}

.header .search-form label:hover {
    color: var(--orange);
}

/* ===SHOPPING CART=== */

.header .shopping-cart {
    padding: 1rem;
    position: absolute;
    top: 110%;right: -110%;
    background-color: #fff;
    border-radius: .5rem;
    width: 35rem;
    box-shadow: var(--box-shadow);
}

.header .shopping-cart.active {
    right: 2rem;
    transition: .4s linear;
}

.header .shopping-cart .box {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
    position: relative;
}

.header .shopping-cart .box img{
    height: 10rem;
}

.header .shopping-cart .box .fa-trash {
    font-size: 2rem;
    position: absolute;
    top: 50%;right: 2rem;
    transform: translateY(-50%);
    color: var(--light);
    cursor: pointer;
}

.header .shopping-cart .box .fa-trash:hover {
    color: var(--orange);
}

.header .shopping-cart .box .content h3 {
    font-size: 1.7rem;
    color: var(--black);
}

.header .shopping-cart .box .content span {
    font-size: 1.6rem;
    color: var(--light);
}

.header .shopping-cart .box .content .quantity {
    padding-left: 1rem;
}

.header .shopping-cart .total {
    font-size: 2.5rem;
    color: var(--black);
    text-align: center;
    padding: 1rem 0;
}

.header .shopping-cart .btn {
    display: block;
    text-align: center;
    margin: 1rem;
}


/* ====LOGGIN FORM===== */

.header .login-form {
    padding: 2rem;
    text-align: center;
    width: 35rem;
    position: absolute;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background-color: #fff;
    top: 110%; right: -110%;
}

.header .login-form.active {
    right: 2rem;
    transition: .4s linear;
}

.header .login-form h3 {
    font-size: 2.5rem;
    color: var(--black);
    text-transform: uppercase;
}

.header .login-form .box {
    display: block;
    width: 100%;
    background-color: #eee;
    padding: 1rem;
    margin: .7rem 0;
    font-size: 1.6rem;
    border-radius: .5rem;
    color: var(--black);
    text-transform: none;
}

.header .login-form p {
    font-size: 1.4rem;
    padding: .5rem 0;
    color: var(--light);
}

.header .login-form p a{
    color: var(--orange);
    text-decoration: underline;
}

/* =====HOME SECTION===== */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/assets/img/banner-bg.webp) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}

.home .content {
    text-align: center;
    width: 60rem;
}

.home .content h3 {
    font-size: 3rem;
    color: var(--black);
}

.home .content h3 span {
    color: var(--orange);
}

.home .content p {
    font-size: 1.7rem;
    color: var(--black);
    line-height: 2;
}


/* ====FEATURES SECTION==== */

.features {

}

.features .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.features .box-container .box {
    padding: 3rem 2rem;
    text-align: center;
    background-color: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    box-shadow: var(--box-shadow);
}

.features .box-container .box:hover {
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.features .box-container .box img {
    height: 15rem;
    margin: 1rem 0;
}

.features .box-container .box h3 {
   font-size: 2.5rem;
   color: var(--black);
}

.features .box-container .box p {
    font-size: 1.5rem;
    color: var(--light);
    padding: 1rem 0;
    line-height: 2;
}

.products {

}

.products .product-slider  {
    padding: 1rem;
}

.products .product-slider:first-child {
    margin-bottom: 2rem;
}


.products .product-slider .box {
    text-align: center;
    background-color: #fff;
    padding: 3rem 2rem;
    border-radius: .5rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

.products .product-slider .box:hover {
    outline: var(--outline-hover);
    outline-offset: 0;
}

.products .product-slider .box img {
    height: 20rem;
}

.products .product-slider .box h3 {
    font-size: 2.5rem;
    color: var(--black);
}

.products .product-slider .box .price {
    font-size: 2rem;
    color: var(--light);
    padding: .5rem 0;
    line-height: 2;
}

.products .product-slider .box .stars {
    font-size: 1.6rem;
    color: var(--orange);
}

.categories {

}

.categories .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.categories .box-container .box {
    text-align: center;
    padding: 3rem 2rem;
    border-radius: .5rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    background-color: #fff;
}

.categories .box-container .box:hover {
    outline-offset: 0;
    outline: var(--outline-hover);
}

.categories .box-container .box img {
    height: 15rem;
    margin: 1rem 0;
}

.categories .box-container .box h3 {
    font-size: 2rem;
    color: var(--black);
    line-height: 1.8;
}

.categories .box-container .box .discount {
    font-size: 1.7rem;
    color: var(--light);
    line-height: 2;
    padding: .5rem 0;
}

.reviews {

}

.reviews .review-slider {
    padding: 1rem;
}

.reviews .review-slider .box {
    text-align: center;
    padding: 3rem 2rem;
    border-radius: .5rem;
    outline: var(--outline);
    outline-offset: -1rem;
    box-shadow: var(--box-shadow);
    background-color: #fff;
    transition: .2s linear;
}

.reviews .review-slider .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0;
}

.reviews .review-slider .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.reviews .review-slider .box p{
    font-size: 1.5rem;
    color: var(--light);
    line-height: 1.8;
    padding: 1rem 0;
}

.reviews .review-slider .box h3{
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.reviews .review-slider .box .stars{
    font-size: 1.7rem;
    line-height: 1.8;
    color: var(--orange);
}


.blogs {
    
}

.blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.blogs .box-container .box {
    border-radius: .5rem;
    background-color: #fff;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.blogs .box-container .box img {
    height: 25rem;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box .content {
    padding: 2rem;
}

.blogs .box-container .box .content .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: var(--border);
}

.blogs .box-container .box .content .icons a {
    font-size: 1.5rem;
    color: var(--light);
}

.blogs .box-container .box .content .icons a i {
    color: var(--orange);
    padding-right: .5rem;
}

.blogs .box-container .box .content .icons a:hover {
    color: var(--black);
}

.blogs .box-container .box .content h3 {
    font-size: 2rem;
    color: var(--black);
    line-height: 1.8;
    padding: .5rem 0;
}
.blogs .box-container .box .content p {
    color: var(--light);
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 1.8;
}


.footer {
    background-color: #fff;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}


.footer .box-container .box {

}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box h3 i {
    color: var(--orange);
}

.footer .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 1rem 0;
    color: var(--light);
}

.footer .box-container .box  .share  i{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    border-radius: .5rem;
    background-color: #eee;
    margin-right: .2rem;
    text-align: center;
    color: var(--black);
}

.footer .box-container .box  .share  i:hover {
    color: #fff;
    background-color: var(--orange);
    cursor: pointer;
}

.footer .box-container .box a{
    display:  block;
    font-size: 1.5rem; 
    color: var(--light);
    padding: 1rem 0;
}

.footer .box-container .box a i {
    color: var(--orange);
    padding-right: 1rem;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .box-container .box .email {
    width: 100%;
    font-size: 1.6rem;
    text-transform: none;
    border-radius: .5rem;
    background-color: #eee;
    padding: 1rem;
    margin: .7rem 0;
}

.footer .box-container .box .payment-img {
    margin-top: 2rem;
    height: 3rem;
    display: block;
}

.footer .credit {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    margin-top: 2rem;
    border-top: var(--border);
    color: var(--black);
}

.footer .credit span {
    color: var(--orange);
}